/* Obter paleta de cores a partir dos insumos do Designer Gráfico
	https://html-color-codes.info/ 
	https://html-color-codes.info/colors-from-image/
*/

.header {
	/* border: 1px solid black; */
	background: url('../img/destaque.jpeg') no-repeat;
	/* background-repeat: no-repeat; */
	background-size: cover; 
	padding: 1em 0;
}

.header .main-menu {
	text-align: center
}

.header .main-menu .menu-item {
	display: inline-block;
	padding: 1em .1em;
}

.header .main-menu .menu-item a {
	background: rgba(0, 0, 0, 0.1);
	border-radius: 7px;
	color: white;
	font-weight: bold;
	padding: 1em 1em;
	text-decoration: none;
	text-transform: uppercase;
	transition: background-color 1s ease;
}

header .main-menu .menu-item a:hover {
	background-color: #48A3A6;
}

.header .jumbotron {
font-weight: bold;
	padding: 0 0 1em 0;
	text-align: center;
	text-transform: uppercase;
}

.header .panel-main {
	font-weight: bold;
	padding: 3em;
	text-shadow: .1em .1em .25em black;
}

.header .jumbotron .title {
	color: white;
	font-size: 3em;
}

.header .jumbotron .subtitle {
	color: #64FF64;
	font-size: 2.5em;
	margin-top: .5em;
}

.header .jumbotron .panel-subscribe {
	margin-top: 1em;
}

@media ( min-width: 600px ) {
	.header .jumbotron {
		font-size: 1.5em;
	}	
}
