.form {
	margin: 1em 2em;
}

.form .form-title {
	color: #EF7247;
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

.form label, input {
	display: block;
}

.form .input-padrao {
	border-radius: .4em;
	margin-bottom: 1em;
	width: 100%;
}

.form .button {
	background-color: #48A3A6;
	border: 1px solid green;
	border-radius: .25em;
	color: white;
	font-weight: bold;
	display: block;
	margin: 1em auto;
	padding: 1em 2em;
	text-decoration: none;
}

